<nav class="navbar navbar-expand-lg navbar-light bg-#2e9abe">
  <a class="logo" routerLink="">
    <img
      src="https://i.pinimg.com/736x/ce/56/99/ce5699233cbc0f142250b520d967dff7.jpg"
      alt="Logo"
      width="130"
      height="80"
    />
  </a>
  <button
    class="btn btn-#2e9abe ms-auto"
    routerLink="cart"
    routerLinkActive="activelink"
  
  >
    <i style="font-size: 40px" class="fa fa-shopping-cart bg-#fff"></i>
    <div style="font-size: 11px" class="badge bg-danger">{{ cartItem }}</div>
  </button>
  <button
    routerLink=""
    routerLinkActive="activelink"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active-link"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
