<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-4" *ngFor="let pd of containProductArray">
      <div class="productBox">
        <img [src]="pd.productImg" height="300px" width="300px" />
        <h1>{{ pd.productName }}</h1>
        <p>{{ pd.productDetail }}</p>
        <p>{{ pd.productWeight }} gm</p>
        <p>{{ pd.productPrice | currency: "INR" }}</p>
        <!--<button class="minusbtn btn-primary btn-block" (click)="dec(pd)">
          -
        </button>
        <span
          ><button>{{ pd.qnt }}</button></span
        >
        <button class="plusbtn btn-primary btn-block" (click)="inc(pd)">
          +
        </button>-->
        <button class="mainbtn btn-primary btn-block" (click)="addCart(pd)" height="10px" width="50px">
          &nbsp; Add to Cart  &nbsp;
        </button>
      
      </div>
    </div>
  </div>
</div>
